.brand-logo {
  font-weight: bold;
  margin-left: 20px;
}
.brand-logo:hover {
  color: gold;
}
#newLogo {
  position: absolute;
  width: 250px;
  top: 80px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.white-text {
  font-weight: bold;
}